#include "resource.h"

IDI_ICON_T3DX			ICON		resource\t3dx.ico

IDC_CURSOR_BLUE			CURSOR		resource\bluearrow.cur
IDC_CURSOR_GREEN		CURSOR		resource\greenarrow.cur

STRINGTABLE
{
	IDS_STRING_LOAD					"string of load"
	IDS_STRING_SAVE					"string of save"
}
